.img-thumbnail{
    width:100px;
}
.img_wrp {
    display: inline-block;
    position: relative;
  }
  .close {
    position: absolute;
 
    right: 10;
    color:#dc3545
  }
  .catImg{
    width:150px;
  }